/*Top Bar*/
.upper-margin {
      margin: 0 auto;
}
.btn-link {
      color: rgba(255,255,255,1);
}
.btn-link:hover {
      color: rgba(255,255,255,0.5);
}
/* Nav Bar */
.navbar {
      background-color: #fff !important;
      box-shadow: 0px 3px 4px -3px #ccc;
}
.navbar-light .navbar-nav .nav-link {
      color: #343a40 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
      color: rgba(52,58,64,0.5) !important;
}
.navbar-brand {
      font-size: 1.5rem;
}
/* Features */
.features p {
      margin: auto;
      width: 100%;
}
.features i {
      color: white;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 30px;
}
/* Our Team */
.overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      color: #fff;
      /*padding: 0 20px;*/
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.photo {
      position: relative;
      line-height: 0;
      margin-bottom: 1.5rem;
      overflow: hidden;
}
.overlay h4 {
      line-height: 1.5rem;
      margin-bottom: 2rem;
      text-align: center;
}
.overlay p {
      font-size: 0.8rem;
      line-height: 1;
      margin-bottom: 3rem;
      text-align: center;
}
.overlay .button_s {
      display: flex;
}
.slide1 .overlay {
      opacity: 1;
      background: #007bff;
      width: 100%;
      transform: translate(-100%);
      border-radius: .25rem;
}
.slide1:hover .overlay {
      transform: translateX(0);
      border-radius: .25rem;
}
.slide1:hover img {
      transform: translateX(100%);
}
.slide1 .overlay, .slide1 img {
      transition: transform .7s ease-in-out;
}
/* Our Services */
.services i {
      color: white;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 30px;
}
.services {
      background-color: #e9ecef;
}
/* Pricing Table */
.pricing p {
      margin: auto;
      width: 100%;
}
.pricing .card-body {
      padding: 1.25rem 0;
}
.pricing .list-group-item {
      border: none;
}
#pricing #shadow {
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
      border: none;
}
/* Statistics */
.statistics {
      background-image: url("../img/statistics.jpg");
      background-size: cover;
      background-attachment: fixed;
      position: relative;
      height: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
}
.statistics:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0,0,0,0.7);
      z-index: 1;
}
.statistics .container {
      position: relative;
      z-index: 2;
}
.statistics i {
      position: relative;
      color: #fff;
      width: 100px;
      height: 100px;
      line-height: 100px;
      top: 1.5rem;
}
.statistics h3, .statistics p {
      color: #fff;
}
/* FAQ */
.frequently {
      background-color: #e9ecef;
}
.frequently .btn-link {
      font-size: 1.25rem;
      text-decoration: none;
}
/* Latest Posts */
#blog p {
      margin: auto;
      width: 100%;
}
#blog p.card-text {
    width: 100%;
    text-align: left;
}
#blog .card button.m-2 {
    margin-left: 0 !important;
}
/* Media Queries */
@media (min-width: 992px) {
      .features p, .pricing p, #blog p {
            width: 70%;
      }
}
