/*Top Bar*/
.upper-margin {
      margin: 0 auto;
}
.btn-link {
      color: rgba(255,255,255,1);
}
.btn-link:hover {
      color: rgba(255,255,255,0.5);
}
/* Nav Bar */
.navbar {
      background-color: #fff !important;
      box-shadow: 0px 3px 4px -3px #ccc;
}
.navbar-light .navbar-nav .nav-link {
      color: #343a40 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
      color: rgba(52,58,64,0.5) !important;
}
.navbar-brand {
      font-size: 1.5rem;
}
/* Features */
.features p {
      margin: auto;
      width: 100%;
}
.features i {
      color: white;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 30px;
}

@media (min-width: 992px) {
      .features p {
            width: 70%;
      }
}
